@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  gap: 4em;
  padding: 2em;
}

.title{
  font-size: 4em;
  font-weight: 200;
  opacity: 0.7;
}

.subtitle-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 800px;
  height: 100px;
  border-radius: 0.2em;
  font-size: 2em;
  font-weight: 300;
  opacity: 0.5;
  box-shadow: 0px 7px 10px 0px rgb(47, 53, 65);
  -webkit-box-shadow: 0px 7px 10px 0px rgb(47, 53, 65);
  -moz-box-shadow: 0px 7px 10px 0px rgb(47, 53, 65);
}

.content-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.convert-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  gap: 2em;
}

.span-first{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 700px;
  height: 200px;
  border-radius: 3em;
  box-shadow: 0px 7px 21px 0px rgb(47, 53, 65);
  -webkit-box-shadow: 0px 7px 21px 0px rgb(47, 53, 65);
  -moz-box-shadow: 0px 7px 21px 0px rgb(47, 53, 65);
}

.span-measure-left{
  background-color: rgb(74, 84, 102);
  width: 300px;
  height: 200px;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -40px;
  font-size: 4em;
  color: rgb(226, 226, 226);
  font-weight: 300;
  border-radius: 0.2em;
}
.span-second{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 700px;
  height: 200px;
  border-radius: 3em;
  box-shadow: 0px 7px 21px 0px rgb(47, 53, 65);
  -webkit-box-shadow: 0px 7px 21px 0px rgb(47, 53, 65);
  -moz-box-shadow: 0px 7px 21px 0px rgb(47, 53, 65);
}

.span-measure-right{
  background-color: rgb(74, 84, 102);
  width: 300px;
  height: 200px;
  padding: 0.5em;
  margin-left: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: rgb(226, 226, 226);
  font-weight: 300;
  border-radius: 0.2em;
}

.input-measure[type=number]{
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: 900;
  color: rgb(74, 84, 102);
  opacity: 0.8;
  padding: 1em;
  -moz-appearance: textfield;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 0.2em;
}

.input-measure::-webkit-inner-spin-button,
.input-measure::-webkit-outer-spin-button{
  -webkit-appearance: none;
}

.input-measure:focus{
  outline: none;
}

.input-measure:hover{
  background-color: rgb(194, 194, 194);
  color: rgb(36, 36, 36);
}

.switch-button{
  width: 80px;
  height: 80px;
  padding: 0.2em;
  font-size: 2em;
  border-radius: 0.4em;
  border: 2px solid rgb(106, 119, 145);
  background-color: transparent;
  color: rgb(74, 84, 102);
  transition: 0.2s;
  box-shadow: 0px 7px 10px 0px rgb(47, 53, 65);
  -webkit-box-shadow: 0px 7px 10px 0px rgb(47, 53, 65);
  -moz-box-shadow: 0px 7px 10px 0px rgb(47, 53, 65);
}

.switch-button:hover{
  cursor: pointer;
  background-color: rgb(194, 194, 194);
}

.input-measure-container{
  display: flex;
  width: 300px;
  height: 200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  color: rgb(74, 84, 102);
  font-style: italic;
}